@import "tailwindcss";
@plugin "daisyui";

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 0;
  }

  html, body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.fade-enter {
  opacity: 0;
  transform: translateY(12px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}